# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\chh\workplace\w383942470.github.io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
